.header{
    position: absolute;
    width: 1440px;
    height: 127px;
    left: 0px;
    top: 0px;
    background: #000000;
}
h1{
   position: absolute;
   width: 487px;
   height: 61px;
   left: 411px;
   top: 27px;
   font: 'Ramemetto One';
   font-weight: 400;
   font-style: normal;
   font-size: 36px;
   line-height: 60.8px;
   color: #36d6ec;
   border: 1px solid #F0190B
   text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}
.navbar{
    position: absolute;
    width: 1440px;
    height: 127px;
    left: 0px;
    top: 80px;
    background: #46A7D1;
     
}
nav>ul{
text-align: right;

}
ul>li{
    display:inline-block;
        
}
#waves{
    position: absolute;
    left: 0px;
    top: 184px;
    border-radius: 0px;
    height: 620px;
    width: 1440px;
    }
    .link{
        font:'Roboto' ;
        size: 20px;
        position: absolute;
        top: 642px;
        left: 393px;
       }
.aboutus{
    position: absolute;
    width: 1432px;
    height: 101px;
    left: 18px;
    top: 216px;
    
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    
    color: #000000;
    }      

#lessons{
height: 471px;
width: 289px;
left: 26px;
top: 324px;
font-family: 'Roboto';
font-size: 20px;
font-style: italic;
font-weight: 700;
line-height: 23px;
letter-spacing: 0em;
text-align: left;


}
#footer{
    position: absolute;
height: 262px;
width: 1440px;
left: 0px;
top: 762px;
border-radius: 0px;
background: #05667B;
font-family: 'Roboto';
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 23px;
    text-align: left;
    color: #000000;

}
.branch{
    float: right;
    position: absolute;
    width: 412px;
height: 211px;
left: 1028px;
top: 813px;

font-family: Roboto;
font-style: italic;
font-weight: bold;
font-size: 20px;
line-height: 23px;

color: #000000;

    }
#info{
position: absolute;
height: 194px;
width: 520px;
left: 26px;
top: 813px;

    

    
}
.beginner{
 float: right;
 position: absolute;
 left: 391px;
 top: 358px ;
 border: 1px solid #000000;
}
#surf{
    float: right;
position: absolute;
left: 690px;
top: 354px;
 background: #ffffff;
 box-shadow: 0px 4px 4px rgba(0,0,0,0.25);  
}
#kids{
    float: right;
 position: absolute;
 left: 1038px;
 top: 358px;   
}
